<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
    <link th:href="@{/css/verifyPhone.css}" rel="stylesheet" type="text/css" />
    <title>Title</title>
</head>
<body>
<div class="container">
    <header>
        <i class="bx bxs-check-shield"></i>
    </header>
    <h4>Enter OTP Code</h4>
    <form action="#">
        <div class="input-field">
            <input type="number" />
            <input type="number" disabled />
            <input type="number" disabled />
            <input type="number" disabled />
            <input type="number" disabled />
            <input type="number" disabled />
        </div>
        <button>Verify OTP</button>
    </form>
</div>
</body>
<script th:src="@{js/verifyPhone.js}"></script>
</html>