<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="userNote">
    <div class="userNote_container">
        <div class="userNote_header">
            <h2>Admin Notes</h2>
        </div>
        <div class="userNote_body">
            <div class="userNote_body_content">
                <div class="userNote_body_content_text">
                    <p>Notes details</p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>