<footer class="bg-white shadow py-3" th:fragment="dashboardFooter">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col">
                <div class="text-sm-start text-center">
                    <p class="mb-0 text-muted">
                        <script>document.write(new Date().getFullYear())</script>
                        Copyright © Student Project Portal 2023 - All rights reserved.
                    </p>
                </div>
            </div><!--end col-->
        </div><!--end row-->
    </div><!--end container-->
</footer><!--end footer-->
