<nav id="topnav" class="defaultscroll sticky" th:fragment="navbar">
    <div class="container">
        <!-- Logo container-->
        <a class="logo" href="/">
            <img th:src="@{/images/logo.png}" height="56" alt="">
        </a>
        <!-- Logo End -->

        <!-- Start Mobile Toggle -->
        <div class="menu-extras">
            <div class="menu-item">
                <!-- Mobile menu toggle-->
                <a class="navbar-toggle" id="isToggle" onclick="toggleMenu()">
                    <div class="lines">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </a>
                <!-- End mobile menu toggle-->
            </div>
        </div>
        <!-- End Mobile Toggle -->

        <!-- Start Navigation -->
        <div class="navigation-container">
            <div id="navigation-right">
                <!-- Navigation Menu-->
                <ul class="navigation-menu nav-right">
                    <li class="has-submenu parent-parent-menu-item">
                        <a href="#">About Us</a>
                    </li>

                    <li class="has-submenu parent-menu-item">
                        <a href="#">Design</a>
                    </li>

                    <li class="has-submenu parent-menu-item">
                        <a href="#">Accessibility</a>
                    </li>

                    <li class="has-submenu parent-parent-menu-item">
                        <a href="#">Stories</a>
                    </li>
                </ul>
            </div>

            <div id="navigation-left">
                <!-- Navigation Menu-->
                <ul class="navigation-menu nav-left">
                    <li class="has-submenu parent-parent-menu-item">
                        <a href="/register">Register</a>
                    </li>

                    <li class="has-submenu parent-menu-item">
                        <a href="/login">Login</a>
                    </li>
                </ul>
            </div>
        </div><!--end container-->
    </div>
</nav><!--end header-->
