<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet"/>
    <link th:href="@{/css/verifyPhone.css}" rel="stylesheet" type="text/css"/>
    <title th:text="${@title}"></title>
</head>
<body>
<header>
    <i class="bx bxs-check-shield"></i>
</header>
<div id="captcha">
<div id="recaptcha-container"></div>
</div>
<div id="root" hidden>
    <div class="container">
        <h4>Enter OTP Code</h4>
        <div class="input-field">
            <input class="otp_number" type="number"/>
            <input class="otp_number" type="number" disabled/>
            <input class="otp_number" type="number" disabled/>
            <input class="otp_number" type="number" disabled/>
            <input class="otp_number" type="number" disabled/>
            <input class="otp_number" type="number" disabled/>
        </div>
        <button type="button" id="buttonverify" class="otp_btn">Verify OTP</button>
    </div>
</div>
<div th:text="${token}" id="token_holder" style="display:none;"></div>
<input type="text" id="number" th:value="${phone}" hidden="">
</body>
<script src="https://www.gstatic.com/firebasejs/9.12.1/firebase-app-compat.js"></script>
<script src="https://www.gstatic.com/firebasejs/9.12.1/firebase-auth-compat.js"></script>
<script type="module">
    const inputs = document.querySelectorAll(".otp_number"),
        button = document.querySelector(".otp_btn");
    let otp = '';

    // iterate over all inputs
    inputs.forEach((input, index1) => {
        input.addEventListener("keyup", (e) => {
            const currentInput = input,
                nextInput = input.nextElementSibling,
                prevInput = input.previousElementSibling;
            otp += currentInput.value;

            if (currentInput.value.length > 1) {
                currentInput.value = "";
                return;
            }
            if (nextInput && nextInput.hasAttribute("disabled") && currentInput.value !== "") {
                nextInput.removeAttribute("disabled");
                nextInput.focus();
            }

            if (e.key === "Backspace") {
                // iterate over all inputs again
                inputs.forEach((input, index2) => {
                    if (index1 <= index2 && prevInput) {
                        input.setAttribute("disabled", true);
                        input.value = "";
                        prevInput.focus();
                    }
                });
            }
            if (!inputs[5].disabled && inputs[5].value !== "") {
                button.classList.add("active");
                return;
            }
            button.classList.remove("active");
        });
    });
    window.addEventListener("load", () => inputs[0].focus());
    window.addEventListener("load", phoneAuth);

    // Firebase configuration
    const firebaseConfig = {
        apiKey: "AIzaSyCM-VrqHZKLBLhJzlDudOKJGUGul4W7sGk",
        authDomain: "swp391-3fcbc.firebaseapp.com",
        projectId: "swp391-3fcbc",
        storageBucket: "swp391-3fcbc.appspot.com",
        messagingSenderId: "691277329952",
        appId: "1:691277329952:web:1e280a9bab40c640de2e45",
        measurementId: "G-MVNE99TDXQ"
    };

    // Initialize Firebase
    firebase.initializeApp(firebaseConfig);

    // firebase.auth().settings.appVerificationDisabledForTesting = true;
    var appVerifier = new firebase.auth.RecaptchaVerifier('recaptcha-container');

    appVerifier.render().then(function (widgetId) {

        appVerifier.verify().then(function () {
            // update the input field with the token
            const rootElement = document.getElementById("root");
            rootElement.removeAttribute("hidden");
            var captchaElement = document.getElementById('captcha');
            captchaElement.setAttribute('hidden', 'true');
        });
    });
    let coderesult;

    // function for send OTP
    function phoneAuth() {
        var number = document.getElementById('number').value;
        if (number[0] == '0') {
            number = "+84" + number.substring(1, number.length);
        }
        firebase.auth().signInWithPhoneNumber(number, appVerifier).then(function (confirmationResult) {
            window.confirmationResult = confirmationResult;
            coderesult = confirmationResult;
        }).catch(function (error) {
            alert(error.message);
        });
    }

    const phoneVerify = () => {
        const token_sender = document.getElementById("token_holder").textContent;
        window.confirmationResult.confirm(otp).then(function () {
            location.href = token_sender;
        }).catch(function () {
            alert('OTP Not correct');
        })
    }

    document.getElementsByTagName('button')[0].addEventListener('click', phoneVerify, false);
</script>
</html>